body{
    margin: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.header{

}
.header-main{
    padding: 40px 0 20px 0;
    background-image: url(https://www.golaravel.com/assets/images/header-bg.jpg);
    background-origin:padding-box;
    background-position-x:50%;
    background-position-y:20%;
}
.header-main h1{
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 45px;
}
.docs{
    display: flex;
    justify-content: center;
}
.btn-doc{
    text-decoration: none;
    color: white;
    border: 1px solid rgb(240, 56, 49);
    padding: 7px 12px;
    font-size: 14px;
    margin: 2px;
    border-radius: 2px;
}
.btn-doc:hover{
    background-color: black;
    border: black;
}
.nav{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #e1e1e1;
}
.nav .link{
    color: #505050;
    text-decoration: none;
    margin: 20px;
    font-size: 14px;
}
.main{
    background-color: #ebebeb;
    padding: 40px ;
}
.main-container{
    display: flex;
    justify-content: space-between;
}
.content{
    width: 67%;
}
.post{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-bottom: 40px;
}
.post>*{
    display: flex;
}
.post-meta{
    margin-bottom: 35px;
}
.post-meta>a{
    text-decoration: none;
    color: #f4645f;
}
.post-meta>span{
    color: gray;
}
h2>a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 30px;
}
a>img{
    max-width: 100%;
}
.post-content{
    font-size: 20px;
}
.post-content>p>a{
    text-decoration: none;
    color: #f4645f;

}
.post-permelink{
    align-self: flex-start;
}
.post-footer{
    align-self: stretch;
    margin: 30px 0 10px;
    border-bottom: 1px solid #ebebeb;
}
.btn-read{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f4645f;
    border-radius: 2px;
    background-color: #f4645f;
    height: 35px;
    width: 85px;;
    text-decoration: none;
    color: white;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
}
.number-page{
    justify-content: center;
    align-items: center;
    border: 1px solid #f4645f;
    border-radius: 2px;
    background-color: #f4645f;
    height: 35px;
    width: 120px;
    color: white;
    margin-right: 10px;
}
.btn-page{
    justify-content: center;
    align-items: center;
    border: 1px solid #f4645f;
    border-radius: 2px;
    background-color: #f4645f;
    height: 35px;
    width: 35px;;
    text-decoration: none;
    color: white;
}
.aside{
    height: 500px;
    width: 30%;
    font-size: 14px;
    font-weight: 400;

}
.aside .widget{
    background-color: white;
    margin-bottom: 40px;
    padding: 20px;
}
.widget{
    display: flex;
    flex-direction: column;
}
.widget .title{
    margin: 0;
    font-weight: 400;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 7px;
    position: relative;
    font-size: 20px;
}
.widget .title:after{
    content: " ";
    display: block;
    width: 100px;
    border-bottom: 1px solid #f4645f;
    position: absolute;
    bottom: -1px;
}
.faq-link{
    text-decoration: none;
    color: #f4645f;
}
.btn-block{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f4645f;
    border-radius: 2px;
    background-color: #f4645f;
    height: 35px;
    margin: 0 0 5px 0;
    text-decoration: none;
    color: white;
}
.footer{
    background-color: #202020;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.footer-container{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin: 0;
    max-width: 1180px;
}
.footer-box{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 30%;
}
.footer-box h3{
    display: flex;
    color: white;
    margin: 0;
    font-weight: 400;
    border-bottom: 1px solid #303030;
    padding-bottom: 7px;
    position: relative;
    font-size: 20px;
    position: relative;

}
.footer-box h3:after{
    content: " ";
    display: block;
    width: 100px;
    border-bottom: 1px solid #f4645f;
    position: absolute;
    bottom: -1px;
}
.footer-box *{
    display: flex;
    text-decoration: none;
    font-size: 14px;
}
.news-box{
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed #303030;
    padding-top: 18px;
}
.news-box>a{
    color: #808080;
}
.news-box>p{
    color: #505050;
}
.more{
    display: flex;
    width: 28px;
    height: 28px;
    border: 1px solid #303030;
    margin-top: 18px;
    justify-content: center;
    align-items: center;
}
.linkmore{
    color: #808080;
    text-decoration: none;
}
.friends-box{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px dashed #303030;
    padding: 14px 0px 18px;
}
.friends-link{
    display: flex;
    padding: 4px 7px;
    margin: 7px 4px 0px 4px;
    justify-content: center;
    align-items: center;
    color: #808080;
}
.friends-link:hover{
    background-color: #f4645f;
    color: white;
}
.friends-net{
    display: flex;
}
.footer-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #505050;
    height: 80px;
    font-size: 13px;
    border-top: 1px solid #303030;
    background-color: black;
    width: 100%;

}